<section id="apropos" class="jet">
  <h2>Qui suis-je ?
    <hr>
  </h2>
  <div class="flex-container justify-content-center">
  <div class="container g-0">
    <p>Tout juste diplômé d’un BAC+5 Expert Digital, que j’ai effectué à la Digital School of Paris, je suis à la recherche d'un emploi.
      Au cours de ma scolarité et de mes expériences professionnelles, j’ai eu l’occasion de travailler sur plusieurs projets, me permettant d’acquérir des connaissances dans le développement web ainsi que dans le marketing digital.<br><br>
      Ainsi, j'ai notamment développé de solides compétences dans les langages de programmation tels que HTML, CSS, JavaScript, ainsi que dans les frameworks Angular, React et les CMS populaires comme WordPress ou Joomla.
      Je suis également familier avec les stratégies de référencement (SEO), les campagnes publicitaires en ligne et les principes de l'optimisation des conversions.<br><br>Je comprends l'importance de créer des sites web esthétiques, optimisés pour les moteurs de recherche, afin de générer du trafic et d'atteindre les objectifs de l'entreprise.
      Passionné des nouvelles technologies et des évolutions du monde digital, j’ai développé et alimenté un blog sur l’actualité du metaverse et de la blockchain, le <a style="color: white" href="https://dailymetaverse.fr" target="_blank">dailymetaverse.fr</a>.<br><br>Étant en chantier technique aujourd’hui, j’ai mis en pause la rédaction d’articles pour me consacrer au développement.
    </p>
  </div>
  </div>

</section>
