<section id="apropos" class="jet">
  <h2>Qui suis-je ?
    <hr>
  </h2>
  <div class="flex-row">

    <p class="intro">Je suis sérieux, persévérant, organisé et rigoureux. J’aime le travail en
      équipe et la bonne ambiance. Je peux travailler en autonomie et je sais
      également prendre des initiatives. Je recherche actuellement un contrat d’alternance en tant que chef de projet digital/chargé
      de communication digitale pour la rentrée de septembre 2020. <br><br>
      Rythme :
      3 semaines entreprise
      1 semaine école
    </p>
    <img class="miroir" src="assets/img/miroir.png" alt="">

  </div>

</section>
