<header>

  <div class="avatar">
    <img src="assets/img/the.png" alt="mon avatar" title="moi buvant du thé">
  </div>
  <div class="presentation">

    <h1 class="nom">Stéphane Donna</h1>
    <p class="metier">Webmaster & Développeur Web</p>

    <div class="reseaux-sociaux">
      <img src="assets/img/Facebook.svg" alt="" class="svg">
      <img src="assets/img/Instagram.svg" alt="" class="svg">
      <img src="assets/img/Snapchat.svg" alt="" class="svg">
      <img src="assets/img/Whatsapp.svg" alt="" class="svg">
    </div>


  </div>

</header>
