<nav class="classic-menu">
  <ul>
    <li class="hvr-rectangle-out nav-link"><a href="#apropos">Qui suis-je ?</a></li>
    <li class="hvr-rectangle-out nav-link"><a href="#formations">Formations</a></li>
    <li class="hvr-rectangle-out nav-link"><a href="#experiencespro">Expériences professionnelles</a></li>
    <li class="hvr-rectangle-out nav-link"><a href="#competences">Compétences</a></li>
    <li class="hvr-rectangle-out nav-link"><a href="#realisations">Réalisations</a></li>
    <li class="hvr-rectangle-out nav-link"><a href="#contact">Contact</a></li>
  </ul>
</nav>
