form {
  width: 400px;
  margin: 2em auto;
  display: block;
}

label {
  margin-bottom: 1em;
  display: block;
}

input, textarea {
  border-radius: 10px;
  border: none;
  box-shadow: 0 8px 5px -2px rgb(0 0 0 / 20%);
  margin-bottom: 1em;
  display: block;
  width: 100%;
  padding: 0.5em;
  resize: none;
}

#message {
  height: 200px;
}
#envoyer {
  color: white;
  background: var(--beige);
  width: 30%;
  padding: 0.5em 1em;
  border: 2px solid #ffff;
  margin: auto;
  transition: 1s;
}
#envoyer:hover {
  background: var(--violet);
}
