/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'VoxRound';
    src: url('../fonts/VoxRound.eot');
    src: local('☞VoxRound'), local('VoxRound'),
        url('../fonts/VoxRound.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRound.woff2') format('woff2'),
        url('../fonts/VoxRound.woff') format('woff'),
        url('../fonts/VoxRound.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VoxRound-Light';
    src: url('../fonts/VoxRound-Light.eot');
    src: local('☞VoxRound-Light'), local('VoxRound-Light'),
        url('../fonts/VoxRound-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRound-Light.woff2') format('woff2'),
        url('../fonts/VoxRound-Light.woff') format('woff'),
        url('../fonts/VoxRound-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VoxRound-Medium';
    src: url('../fonts/VoxRound-Medium.eot');
    src: local('☞VoxRound-Medium'), local('VoxRound-Medium'),
        url('../fonts/VoxRound-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRound-Medium.woff2') format('woff2'),
        url('../fonts/VoxRound-Medium.woff') format('woff'),
        url('../fonts/VoxRound-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'VoxRound-Bold';
    src: url('../fonts/VoxRound-Bold.eot');
    src: local('☞VoxRound-Bold'), local('VoxRound-Bold'),
        url('../fonts/VoxRound-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRound-Bold.woff2') format('woff2'),
        url('../fonts/VoxRound-Bold.woff') format('woff'),
        url('../fonts/VoxRound-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VoxRound-Semibold';
    src: url('../fonts/VoxRound-Semibold.eot');
    src: local('☞VoxRound-Semibold'), local('VoxRound-Semibold'),
        url('../fonts/VoxRound-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRound-Semibold.woff2') format('woff2'),
        url('../fonts/VoxRound-Semibold.woff') format('woff'),
        url('../fonts/VoxRound-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'VoxRoundWide';
    src: url('../fonts/VoxRoundWide.eot');
    src: local('☞VoxRoundWide'), local('VoxRoundWide'),
        url('../fonts/VoxRoundWide.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRoundWide.woff2') format('woff2'),
        url('../fonts/VoxRoundWide.woff') format('woff'),
        url('../fonts/VoxRoundWide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VoxRoundWide-Light';
    src: url('../fonts/VoxRoundWide-Light.eot');
    src: local('☞VoxRoundWide-Light'), local('VoxRoundWide-Light'),
        url('../fonts/VoxRoundWide-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRoundWide-Light.woff2') format('woff2'),
        url('../fonts/VoxRoundWide-Light.woff') format('woff'),
        url('../fonts/VoxRoundWide-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'VoxRoundWide-Medium';
    src: url('../fonts/VoxRoundWide-Medium.eot');
    src: local('☞VoxRoundWide-Medium'), local('VoxRoundWide-Medium'),
        url('../fonts/VoxRoundWide-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRoundWide-Medium.woff2') format('woff2'),
        url('../fonts/VoxRoundWide-Medium.woff') format('woff'),
        url('../fonts/VoxRoundWide-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VoxRoundWide-Italic';
    src: url('../fonts/VoxRoundWide-Italic.eot');
    src: local('☞VoxRoundWide-Italic'), local('VoxRoundWide-Italic'),
        url('../fonts/VoxRoundWide-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRoundWide-Italic.woff2') format('woff2'),
        url('../fonts/VoxRoundWide-Italic.woff') format('woff'),
        url('../fonts/VoxRoundWide-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'VoxRoundWide-Semibold';
    src: url('../fonts/VoxRoundWide-Semibold.eot');
    src: local('☞VoxRoundWide-Semibold'), local('VoxRoundWide-Semibold'),
        url('../fonts/VoxRoundWide-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRoundWide-Semibold.woff2') format('woff2'),
        url('../fonts/VoxRoundWide-Semibold.woff') format('woff'),
        url('../fonts/VoxRoundWide-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'VoxRoundWide-Bold';
    src: url('../fonts/VoxRoundWide-Bold.eot');
    src: local('☞VoxRoundWide-Bold'), local('VoxRoundWide-Bold'),
        url('../fonts/VoxRoundWide-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VoxRoundWide-Bold.woff2') format('woff2'),
        url('../fonts/VoxRoundWide-Bold.woff') format('woff'),
        url('../fonts/VoxRoundWide-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


:root {
    --color-1: #90FF3F;
    --color-2: #0C0F0A;
    --color-3: #F3FFEB;
    --color-4: #141810;
    --color-5: #11150e;;
    --gradient-1: linear-gradient(
        245deg,
        hsl(95deg 100% 62%) 0%,
        hsl(103deg 96% 59%) 14%,
        hsl(112deg 93% 57%) 24%,
        hsl(121deg 91% 54%) 34%,
        hsl(130deg 88% 51%) 42%,
        hsl(138deg 92% 48%) 50%,
        hsl(147deg 100% 46%) 58%,
        hsl(149deg 100% 45%) 66%,
        hsl(152deg 100% 44%) 74%,
        hsl(154deg 100% 43%) 81%,
        hsl(157deg 100% 42%) 88%,
        hsl(159deg 100% 41%) 95%,
        hsl(161deg 100% 41%) 100%
      );
}


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-moz-selection {
    background-color: var(--color-1);
    color: var(--color-2);
}

*::selection {
    background-color: var(--color-1);
    color: var(--color-2);
}

::marker { 
    color: var(--color-1);
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.91)
}


::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  

html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: calc(12px + 0.390625vw);
    overflow-x: hidden;
}

h1 {
    color: var(--color-3);
    font-family: 'VoxRoundWide-Bold', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(46, 153, 59, 1);

  }

h1:hover{
    -webkit-animation: shift 1s ease-in-out infinite alternate;
            animation: shift 1s ease-in-out infinite alternate;
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
    -webkit-animation: focus-in-expand unset;
            animation: focus-in-expand unset;
}


  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  a,
  form,
  label,
  input,
  textarea,
  button {
    font-family: 'VoxRoundWide', sans-serif;
    color: var(--color-3);
}

a:link, a:visited {
    color: var(--color-3);
    text-decoration: none;
}


section {
    min-height: 100vh;
    padding: calc(100% / 20) calc(100% / 10);
    position: relative;
}

.section-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 3px 1px 2px rgba(12, 124, 89, 1);
    text-transform: uppercase;
    font-family: 'VoxRoundWide-Bold', sans-serif;
}


section:nth-of-type(odd){
    background-color: var(--color-4);
}

#vanta-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 2em auto 0 auto;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
 }

 .justify-content-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
 }


.name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.job {
    color: var(--color-3);
    text-align: center;
    font-family: 'VoxRound-Light', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 3px 0px 15px rgb(12, 12, 12);
  }

body {
    background-image: -webkit-gradient(linear, right top, left bottom, from(#0c0f0a), color-stop(#0c0e09), color-stop(#0b0e09), color-stop(#0b0d08), to(#0a0c08));
    background-image: -o-linear-gradient(right top, #0c0f0a, #0c0e09, #0b0e09, #0b0d08, #0a0c08);
    background-image: linear-gradient(to left bottom, #0c0f0a, #0c0e09, #0b0e09, #0b0d08, #0a0c08);
    overflow-x: hidden;
}

.cv-download {
    font-family: 'VoxRound';
    text-transform: uppercase;
    margin: auto;
    border: 3px outset var(--color-1);
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    padding: 0.5rem;
    border-radius: 5px;
}


.cv-download::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-1);
    -webkit-transform-origin: center right;
        -ms-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    transition: -webkit-transform 0.7s ease-in-out;
    -o-transition: transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  }

.cv-download:hover {
    cursor: pointer;
    color: var(--color-2);
 }
  
.cv-download:hover::before {
    -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
            transform-origin: center left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
  
hr {
    width: 100px;
    height: 5px;
    background-image: var(--gradient-1);
    border: none;
    margin: 1.5rem auto;
}

span.lieu {
    font-size: 12px;
    font-family: 'VoxRound-Light';
}

li {
    font-family: 'VoxRound-Light';
}

footer {
    text-align: center;
    min-height: 80px;
    padding: 1rem;
    background-color: var(--color-2);
    border-top: 2px solid;
    font-size: 0.9rem;
    -o-border-image: var(--gradient-1) 1;
       border-image: var(--gradient-1) 1;
    font-family: 'VoxRound-Light' sans-serif;
    text-transform: uppercase;
}

footer p:first-of-type {
    margin-bottom: 0.5em;
}



/************** BI ICONS *************************************************************/

.bi-list, .bi-x, .bi-linkedin, .bi-envelope, .bi-github, .bi-controller, .bi-currency-bitcoin, .bi-book-half, .bi-pc-display{
    font-size: 30px;
    color: var(--color-1);
}

.bi-linkedin, .bi-github {
    font-size: 35px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.bi-download {
    margin-right: 5px;
}

.hobbies {
    margin-top: 3em;
    text-align: center;
}

.hobbies-square {
    background-color: var(--color-5);
    padding: 1em;
    width: 200px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);
    text-transform: uppercase;
    transition: 1s ease-in-out;
    /* border-bottom: 3px solid; */
}

.hobbies-square:hover {
    border-bottom: 3px solid;
    /* border-image: var(--gradient-1) 1; */
    transition: 1s ease-in-out;
    
}
.hobbies i.bi {
    font-size: 40px;
}


/************** NAV *************************************************************/

#openNavButton, #closeNavButton {
    background-color: unset;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 5px ridge var(--color-1);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

#closeNavButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hiddenNav {
    display: none;
}

.openNav {
    z-index: 100;
    width: 350px;
    height: 100vh;
    background: rgba(12, 15, 10, 0.95);
    position: fixed;
    top: 0;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 1px 2px rgba(46, 153, 59, 1);
    font-size: 1.2rem;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-right: 5px solid;
    -o-border-image: var(--gradient-1) 1;
       border-image: var(--gradient-1) 1;
}

#sideNav a {
    font-weight: bold;
}

#sideNav a:hover, a.active {
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    color: var(--color-1);
}


.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    bottom: 50px;
    width: 150px;
}


.social-links i:hover {
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    color: var(--color-3);
}


/************************************************** FORMATIONS *********************************************/

.certificate-container {
    max-width: 800px;
    background-color: var(--color-2);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51); 
    margin: 0 auto 2em auto;    
}

.certificate-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px ridge;
    -o-border-image: var(--gradient-1) 1;
       border-image: var(--gradient-1) 1;
}

.certificate-date {
    background-image: var(--gradient-1);
    width: 80px;
    height: 50px;
    color: var(--color-2);
    font-family: 'VoxRound';
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.95em;
    line-height: 1.1;
    letter-spacing: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.certificate-title-container {
    margin-left: 1em;
    
}

.certificate-title {
    margin-bottom: 0.2em;
    font-family: 'VoxRoundWide-Bold';
    text-transform: uppercase;
}

.certificate-place {
    font-size: 0.8em;
    font-family: 'VoxRound-Light';
}

/************************************************** COMPETENCES *********************************************/

.skill-container {
    padding: 1em;
    background-color: var(--color-2);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);    
    min-width: 250px;
    margin-bottom: 2em;
 }

 
 .skill-heading {
    padding: 0.2em;
    margin: 1em;
    text-align: center;
    background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-family: 'VoxRound';
    font-weight: bold;
 }

 .skill-container li {
    list-style: none;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 0.8em;
 }


 .skill-container:hover {
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    border-bottom: 3px solid;
    -o-border-image: var(--gradient-1) 1;
       border-image: var(--gradient-1) 1;
 }

/**************** REALISATIONS *********************************/

.rectangle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
    height: 125px;
    background-color: var(--color-5);
    border-bottom: 3px ridge;
    -o-border-image: var(--gradient-1) 1;
       border-image: var(--gradient-1) 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.51);
    margin-bottom: 1em;
}

/**************** ANIMATIONS *********************************/

.slide-left-entrance {
    -webkit-animation: slideLeftEntrance 1s ease 0s 1 normal forwards;
            animation: slideLeftEntrance 1s ease 0s 1 normal forwards;
}

.slide-left-exit {
    -webkit-animation: slideLeftExit 1s ease 0s 1 normal forwards;
            animation: slideLeftExit 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes slideLeftEntrance {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-300px);
		        transform: translateX(-300px);
	}

	100% {
		opacity: 0.95;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@keyframes slideLeftEntrance {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-300px);
		        transform: translateX(-300px);
	}

	100% {
		opacity: 0.95;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@-webkit-keyframes slideLeftExit {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-250px);
		        transform: translateX(-250px);
	}
}

@keyframes slideLeftExit {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-250px);
		        transform: translateX(-250px);
	}
}

@-webkit-keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       -webkit-transform: skewX(0deg);
               transform: skewX(0deg);
    }
 
    41% {
       -webkit-transform: skewX(10deg);
               transform: skewX(10deg);
    }
 
    42% {
       -webkit-transform: skewX(-10deg);
               transform: skewX(-10deg);
    }
 
    59% {
       -webkit-transform: skewX(40deg) skewY(10deg);
               transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       -webkit-transform: skewX(-40deg) skewY(-10deg);
               transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       -webkit-transform: skewX(10deg) skewY(-5deg);
               transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       -webkit-transform: skewX(-50deg) skewY(-20deg);
               transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       -webkit-transform: skewX(10deg) skewY(-10deg);
               transform: skewX(10deg) skewY(-10deg);
    }
 }

@keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       -webkit-transform: skewX(0deg);
               transform: skewX(0deg);
    }
 
    41% {
       -webkit-transform: skewX(10deg);
               transform: skewX(10deg);
    }
 
    42% {
       -webkit-transform: skewX(-10deg);
               transform: skewX(-10deg);
    }
 
    59% {
       -webkit-transform: skewX(40deg) skewY(10deg);
               transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       -webkit-transform: skewX(-40deg) skewY(-10deg);
               transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       -webkit-transform: skewX(10deg) skewY(-5deg);
               transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       -webkit-transform: skewX(-50deg) skewY(-20deg);
               transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       -webkit-transform: skewX(10deg) skewY(-10deg);
               transform: skewX(10deg) skewY(-10deg);
    }
 }

 .cursor-effect {
    display: none
}

@media (any-pointer: fine) {
    .cursor-effect {
        position:fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
        opacity: 0
    }

    .cursor-effect-inner {
        fill: rgba(3, 255, 3, 0.22);
        stroke: var(--color-1);
        stroke-width: 3px
    }
}


 /**************** MEDIA QUERIES *********************************/

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .section-heading h2, h3.timeline-title {
        font-size: 1.2em;
    }

    h3.certificate-title {
        /* font-size: 0.8em; */
    }

    .timeline-item ul li {
        font-size: 0.8em;
    }

    .openNav{
        width: 270px;
    }

    .hobbies-square {
        margin-bottom: 1em;
    }

    .skill-container {
        width: 10px;
    }
}

.magic-border:before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: calc(2px/ -1);
    left: calc(2px/ -1);
    background: linear-gradient(to right, var(--color-1) 0%, var(--color-1) 100%), linear-gradient(to top, var(--color-1), transparent 50%), linear-gradient(to top, var(--color-1) 50%, transparent 50%), linear-gradient(to right, var(--color-1) 0%, var(--color-1) 100%), linear-gradient(to left, var(--color-1) 0%, var(--color-1) 100%);
    background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
    transform: scaleX(0) rotate(0deg);
    transition-delay: 0.6s, 0.3s, 0s;
  }
  .magic-border:hover:before {
    background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0s, 0.3s, 0.6s;
  }
  .magic-border:nth-of-type(2) {
    position: relative;
  }
  .magic-border:nth-of-type(2):before {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: calc(4px/ -1);
    left: calc(4px/ -1);
    background: var(--gradient-1);
    background-size: 100% 4px, 4px 200%, 4px 200%, 0% 4px, 0% 4px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.2s ease-in-out, background-position 0.2s ease-in-out, background-size 0.2s ease-in-out;
    transform: scaleX(0) rotate(180deg);
    transition-delay: 0.4s, 0.2s, 0s;
  }
  .magic-border:nth-of-type(2):hover:before {
    background-size: 200% 4px, 4px 400%, 4px 400%, 55% 4px, 55% 4px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(180deg);
    transition-delay: 0s, 0.2s, 0.4s;
  }
  .magic-border:nth-of-type(3) {
    position: relative;
    align-self: flex-end;
  }
  .magic-border:nth-of-type(3):before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: calc(10px/ -1);
    left: calc(10px/ -1);
    -webkit-mask: var(), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
            mask: linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
    -webkit-mask-size: 100% 10px, 10px 200%, 10px 200%, 0% 10px, 0% 10px;
            mask-size: 100% 10px, 10px 200%, 10px 200%, 0% 10px, 0% 10px;
    -webkit-mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
            mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    -webkit-mask-repeat: no-repeat, no-repeat;
            mask-repeat: no-repeat, no-repeat;
    transition: transform 0.4s ease-in-out, -webkit-mask-position 0.4s ease-in-out, -webkit-mask-size 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, mask-position 0.4s ease-in-out, mask-size 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, mask-position 0.4s ease-in-out, mask-size 0.4s ease-in-out, -webkit-mask-position 0.4s ease-in-out, -webkit-mask-size 0.4s ease-in-out;
    transform: scaleX(0) rotate(0deg);
    transition-delay: 0.8s, 0.4s, 0s;
    background: var(--gradient-1);
  }
  .magic-border:nth-of-type(3):hover:before {
    -webkit-mask-size: 200% 10px, 10px 400%, 10px 400%, 55% 10px, 55% 10px;
            mask-size: 200% 10px, 10px 400%, 10px 400%, 55% 10px, 55% 10px;
    -webkit-mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
            mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0s, 0.4s, 0.8s;
  }

  /* https://codepen.io/cobra_winfrey/pen/mdJeqZb */

