<section id="competences" class="rhythm">
  <h2>Compétences
    <hr>
  </h2>

  <h3>Langages</h3>
  <div class="skill-container">

    <div class="skill-logo"><img src="assets/img/html-logo.svg" alt="">
      <div class="skill-name">
        <p>HTML</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/css-logo.svg" alt="">
      <div class="skill-name">
        <p>CSS</p>
      </div></div>
    <div class="skill-logo"><img src="assets/img/javascript.svg" alt="">
      <div class="skill-name">
        <p>Javascript</p>
      </div></div>
    <div class="skill-logo"><img src="assets/img/php.svg" alt="">
      <div class="skill-name">
        <p>PHP</p>
      </div></div>
  </div>
  <h3>Framework</h3>

  <div class="skill-container">
    <div class="skill-logo"><img src="assets/img/symfony.png" alt="">
      <div class="skill-name">
        <p>Symfony</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/bootstrap-logo.svg" alt="">
      <div class="skill-name">
        <p>Bootstrap</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/angular.svg" alt="">
      <div class="skill-name">
        <p>Angular</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/react.svg" alt="">
      <div class="skill-name">
        <p>React</p>
      </div>
    </div>
  </div>
  <h3>CMS</h3>
  <div class="skill-container">
    <div class="skill-logo"><img src="assets/img/joomla-logo.png" alt="">
      <div class="skill-name">
        <p>Joomla</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/wordpress-logo.png" alt="">
      <div class="skill-name">
        <p>Wordpress</p>
      </div>
    </div>
  </div>
  <h3>SEO</h3>
  <div class="skill-container">
    <div class="skill-logo"><img src="assets/img/yoast-seo.svg" alt="">
      <div class="skill-name">
        <p>Yoast Seo</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/google-search-console.svg" alt="">
      <div class="skill-name">
        <p>Google Search Console</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/screaming-frog.svg" alt="">
      <div class="skill-name">
        <p>Screaming Frog</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/google-analytics.svg" alt="">
      <div class="skill-name">
        <p>Google Analytics</p>
      </div>
    </div>
  </div>

  <h3>Design</h3>
  <div class="skill-container">
    <div class="skill-logo"><img src="assets/img/photoshop.svg" alt="">
      <div class="skill-name">
        <p>Photoshop</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/illustrator.svg" alt="">
      <div class="skill-name">
        <p>Illustrator</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/indesign.svg" alt="">
      <div class="skill-name">
        <p>InDesign</p>
      </div>
    </div>
    <div class="skill-logo"><img src="assets/img/canva.svg" alt="">
      <div class="skill-name">
        <p>Canva</p>
      </div>
    </div>
  </div>
</section>
