.flex-container {
  display: flex;
  flex-direction: row;
}

.baseline {
  align-items: baseline;
}

#formations li {
  line-height: 1.5
}

#formations li:first-child {
  padding: 0.5em;
  background-color: #B9A394;
  border-radius: 5px;
  margin: 1.5em 0;
  min-width: 5em;
  box-shadow: 0 8px 5px -2px rgba(0, 0, 0, .2);
}

#formations li:last-child {
  align-self: center;
  background-color: #312f2f;
  padding: 0.5em;
  border-radius: 5px;
  min-width: 50vw;
  box-shadow: 0 8px 5px -2px rgba(0, 0, 0, .2);
}

.text-align {
  text-align: center;
}

#formations li {
  font-size: 1.4em;
}

@media screen and (max-width: 575.98px) {
    .baseline {
    align-items: center;
    }

  .flex-container {
    flex-direction: column;
  }
}

