<section id="formations" class="rhythm">
  <h2>Formations
    <hr>
  </h2>

  <ul class="flex-row text-align baseline">
    <li>2015</li>
    <li>
      Baccalauréat STMG option Mercatique<br>
      <span class="lieu">Lycée Eugène Delacroix, Drancy</span>
    </li>
  </ul>

  <ul class="flex-row text-align baseline">
    <li>2018-2019</li>

    <li>BTS Communication (1ère année)<br> <span class="lieu">Lycée Jean Zay, Aulnay-sous-Bois</span></li>
  </ul>

  <ul class="flex-row text-align baseline">
    <li>2019-2020</li>
    <li>Licence Information - Communication (2ème année)<br><span class="lieu">Université Sorbonne Paris Nord, Villetaneuse</span>
    </li>
  </ul>
  <ul class="flex-row text-align baseline">
    <li>2020-2021</li>
    <li>Master Chef de projet digital en alternance (Bac + 4)<br><span class="lieu">Institut F2I, Paris</span></li>
  </ul>
  <ul class="flex-row text-align baseline">
    <li>2021-2022</li>
    <li>Expert Architecte Web (Bac + 5)<br><span class="lieu">Institut F2I, Paris</span></li>
  </ul>

</section>
